# Keep line extensions in text files on LF (Unix style) on all systems
* text=auto eol=lf

# Binary files (such as svg, images) will not be converted
*.svg binary
*.png binary
*.jpg binary
*.gif binary