@font-face {
    font-family: roboto-bold;
    src: url(../../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(../../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-semibold;
    src: url(../../fonts/Roboto/Roboto-SemiBold.ttf);
}

@font-face {
    font-family: helvetica-neue-bold;
    src: url(../../fonts/Helvetiva-Neue/HelveticaNeueBold.ttf);
}

@font-face {
    font-family: helvetica-neue-medium;
    src: url(../../fonts/Helvetiva-Neue/HelveticaNeueMedium.ttf);
}